<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <a href="Subscribe.html">Subscribe</a>
    <a href="authenticate.html">Log in</a>
    <br>
    truck id: <input v-model="truckId"/>
    truck name: <input v-model="nameInput"/>
    truck url: <input v-model="urlInput"/>
    truck latitude: <input v-model="latitudeInput"/>
    truck longitude: <input v-model="longitudeInput"/>
    is new:
    <select v-model="isNewInput">
        <option value=true>true</option>
        <option value=false>false</option>
    </select>
    <br>
    <br>
    <button @click="GetOneTruck" type="button">GetOneTruck</button>
    <button @click="GetAllTrucks" type="button">GetAllTrucks</button>
    <button @click="createTruckSubmit" type="button">Create/update</button>
    <br>
    <br>
    <div id="mapid" style="height: 1080px" @contextmenu="SelectOneLocationOnMap"></div>

    <p id="answerBox">
    </p>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="clientApp.js"></script>
</body>
</html>