<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit truck</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
</head>
<body>
<div id="truckApp">
    <!--truck id: <input v-model="truckId"/>-->
    truck name: <input v-model="nameInput"/>
    truck url: <input v-model="urlInput"/>
    <!--truck latitude: <input v-model="latitudeInput"/>-->
    <!--truck longitude: <input v-model="longitudeInput"/>-->
    <!--is new:-->
    <!--<select v-model="isNewInput">-->
        <!--<option value=true>true</option>-->
        <!--<option value=false>false</option>-->
    <!--</select>-->
    <!--<br>-->
    <!--<br>-->
    <!--<button @click="GetOneTruck" type="button">GetOneTruck</button>-->
    <!--<button @click="GetAllTrucks" type="button">GetAllTrucks</button>-->
    <button @click="UpdateTruck" type="button">Update</button>
    <!--<br>-->
    <!--<br>-->
    <!--<ul>-->
        <!--<li v-for="item in trucks">-->
            <!--<a @click="Redirect(item)">{{ item.name}}</a>-->
        <!--</li>-->
    <!--</ul>-->
    <br>
    <br>
    <div id="mapid" style="height: 400px; width: 600px;" @contextmenu="SelectOneLocationOnMap"></div>


</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="truckApp.js"></script>
</body>
</html>